<h1>Sign In</h1>

<%= form_tag(session_path) do %>
	<fieldset>
		<div class="row">
			<div class="medium-4 columns">
				<%= label_tag :login %>
			</div>
			<div class="medium-8 columns">
				<%= text_field_tag :login, params[:login], autofocus: true %>
			</div>
		</div>

		<div class="row">
			<div class="medium-4 columns">
				<%= label_tag :password %>
			</div>
			<div class="medium-8 columns">
				<%= password_field_tag :password , nil %>
			</div>
		</div>

		<div class="row">
			<div class="medium-4 columns">
				
			</div>
			<div class="medium-8 columns">
				<%= submit_tag 'SignIn' %>
			</div>
		</div>

	</fieldset>

<% end %>	