<h1>Events</h1>

<table>
	<tr>
		<th>Name</th>
		<th>Beschreibung</th>
		<th>Ort</th>
		<th>Preis</th>
		<th>Beginn</th>
	</tr>
	<% @events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= truncate(event.description, length: 30) %></td>
			<td><%= event.location %></td>
			<td><%= format_price(event) %></td>
			<td><%= event.start_date %></td>
		</tr>
	<% end %>

</table>

