<h1><%= pluralize(@events.count, "Event", plural: "Events" ) %></h1>

<table>
	<tr>
		<th>Name</th>
		<th>Beschreibung</th>
		<th>Ort</th>
		<th>Preis</th>
		<th>Beginn</th>
		<th>Registrierungen</th>
		<th>Show</th>
		<th>Edit</th>
		<th>Del</th>
	</tr>
	<% @events.each do |event| %>
		<tr>
			<td><%= event.name %></td>
			<td><%= truncate(event.description, length: 30) %></td>
			<td><%= event.location %></td>
			<td><%= format_price(event) %></td>
			<td><%= event.start_date %></td>
			<% if current_user %>
				<td><%= link_to "Registrations", event_registrations_path(event.id) %></td>
				<td><%= link_to "Show", event_path(event.id) %></td>
				<% if current_user_admin? %>
					<td><%= link_to 'Edit', edit_event_path(event.id) %></td>
					<td><%= link_to 'Del', event_path(event.id), method: :delete, data: { confirm: 'Sicher löschen?'} %></td>
				<% end %>
			<% end %>
		</tr>
	<% end %>

</table>

<p><%= link_to "Neuen Event", new_event_path if current_user_admin? %></p>