<h1><%= @event.name %></h1>

<p><%= @event.description %></p>

<h3>When</h3>
<p><%= @event.start_date %></p>

<h3>Where</h3>
<p><%= @event.location %></p>

<h3>Price</h3>
<p><%= format_price @event %></p>

<p><%= link_to "Alle Events anzeigen", events_path %></p>