<h1>Registrations von Event: <%= @event.name %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>How heard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= registration.name %></td>
        <td><%= registration.email %></td>
        <td><%= registration.how_heard %></td>
        <td><%= link_to 'Show', event_registration_path(@event.id,registration.id) %></td>
        <td><%= link_to 'Edit', edit_event_registration_path(@event.id, registration.id) %></td>
        <td><%= link_to 'Destroy', event_registration_path(@event.id, registration.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_event_registration_path(@event.id) %>
