<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @registration.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>How heard:</strong>
  <%= @registration.how_heard %>
</p>

<p>
  <strong>Event:</strong>
  <%= @registration.event %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
